@import '../../base';

.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100vw;
}

@media (min-width: $media-break-point-phone) {
  .container {
    width: 50vw;
  }
}
