@import '../../CSS/base';

.intro {
  margin: 4rem 0 4rem 0;
  padding: 0;
  font-size: 1.2rem;
  color: #222;
  max-width: 65ch;
}

.cardContainer {
  margin: auto;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  grid-template-rows: auto;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.filter_form {
  display: flex;
  flex-direction: column;

  label {
    font-family: $font-title;
    font-size: 1.5rem;
    color: #222;
  }
}

.filter_select {
  width: 100%;
  margin: 1rem 0 0 0;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  color: #000;
  background-color: #fff;
}

@media (min-width: $media-break-point-tablet) {
  .filter_form {
    flex-direction: row;
    align-items: center;
  }

  .filter_select {
    margin: 0 0 0 2rem;
    width: 15rem;
  }
}
