@import '../../base';

.landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #222;

  &_para {
    font-size: 1.2rem;
    max-width: 60ch;
    padding: 3rem 0;
  }
}

.title {
  font-size: 3rem;
  padding: 2rem 0 4rem 0;
  position: relative;
  color: #fff;
}

.title::before {
  z-index: -1;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -10vw;
  bottom: 0;
  width: 110vw;
  overflow: hidden;
  background-image: url('./torn-paper.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.contact {
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }
}

@media (min-width: $media-break-point-tablet) {
  .contact {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 20rem;

    p {
      margin-left: 2rem;
    }
  }
}
