@import '../../base';

.landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #fff;

  &_para {
    font-size: 1.2rem;
    max-width: 60ch;
    padding: 3rem 0;
  }
}

.landing::before {
  z-index: -1;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -50vw;
  bottom: 0;
  width: 150vw;
  overflow: hidden;
  background-color: $colour-green;
  opacity: 0.75;
}

.title {
  font-size: 3rem;
  padding: 3rem 0;
  position: relative;
  color: #fff;
}

.title::before {
  z-index: -1;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -50vw;
  bottom: 0;
  width: 150vw;
  overflow: hidden;
  background-color: $colour-green;
}

.contact {
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }
}

@media (min-width: $media-break-point-tablet) {
  .contact {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 20rem;

    p {
      margin-left: 2rem;
    }
  }
}
