@import '../../CSS/base';

.details {
  margin: 0 0 3rem 0;
  font-style: italic;
  color: #666;
}

.slide {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  img {
    height: 100%;
  }
}

.description {
  margin: 2rem 0;
}

.links {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  font-family: $font-title;
  font-size: 1.4rem;
  a {
    text-decoration: none;
    transition: all 0.3s;
    color: $colour-secondary;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.links > * + * {
  margin-left: 2rem;
}

.gif {
  width: 90%;
  min-height: 15rem;
  border: 1px solid black;
}

.para {
  max-width: 60ch;
}

.backButton {
  padding: 0.8em 2em;
  background-color: #fff;
  border: 1px solid #000;
  width: 100%;
  font-size: 1.2rem;
  transition: background-color 0.2s;
  margin: 3rem 0 8rem;

  &:hover {
    background-color: $colour-primary;
    color: #fff;
  }
}

@media (min-width: $media-break-point-tablet) {
  .mainImg {
    margin-bottom: 0;
  }
  .backButton {
    width: 15rem;
  }
}
