@import '../../base';

.landing {
  box-sizing: border-box;
  position: relative;
  min-height: 90vh;
  display: flex;
  flex-direction: column;

  &_intro {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem 0;
  }

  &_para {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 3rem;
    max-width: 50ch;
  }
}

.landing::before {
  z-index: -1;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -50vw;
  bottom: 0;
  width: 150vw;
  overflow: hidden;
  background-color: $colour-purple;
  opacity: 0.75;
}

.title {
  font-size: 3rem;
  color: #ffffff;
  position: relative;
  padding: 3rem 0;
}

.title::before {
  z-index: -1;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -50vw;
  bottom: 0;
  width: 150vw;
  overflow: hidden;
  background-color: $colour-purple;
}

.section {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}

.section___dark::before {
  z-index: -1;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -50vw;
  bottom: 0;
  width: 150vw;
  overflow: hidden;
  background-color: rgba(82, 61, 94, 0.103);
}

.section_paragraph {
  font-size: 1.1rem;
  max-width: 60ch;
  width: 100%;
}

.section_images {
  margin-top: 2rem;
  max-width: 80vw;
  height: 80vw;
  position: relative;

  img {
    width: 80%;
  }
  img + img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.section_subtitle {
  color: $colour-primary;
  font-size: 1.7rem;
}

.profile {
  margin: 2rem 0;
  max-width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  img {
    width: 110%;
    padding: 0;
  }
}

@media (min-width: $media-break-point-tablet) {
  .landing_intro {
    flex-direction: row;
    justify-content: start;
  }

  .profile {
    margin: 0 3rem 0 0;
  }

  .section {
    flex-direction: row;
    justify-content: space-between;
  }

  .section_images {
    margin-top: 0;
    margin-left: 2rem;
    max-width: 35vw;
    height: 35vw;
  }

  .section + .section {
    flex-direction: row-reverse;

    .section_images {
      margin-left: 0;
      margin-right: 2rem;

      img + img {
        z-index: -1;
      }
    }
  }
}
