.App {
  width: 80vw;
  margin: auto;
}
.page {
  overflow: hidden;
}

.landingPage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 800px) {
  .App {
    width: 80vw;
    margin: 0 14vw 0 6vw;
    max-width: 1200px;
  }
}
